<?php

/*
 * This file is part of the affilinet Product Data PHP SDK.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

namespace Affilinet\Tests;

class AffilinetTestCredentials {

    /**
     * Please insert your Publisher ID, Publisher Webservice Password and Product Webservice Password to run the tests.
     * Then save this file as AffilinetTestCredentials.php in this folder
     * You will find them here https://publisher.affili.net/Account/techSettingsPublisherWS.aspx
     */
    public static $publisherId = 'enter_your_publisher_id';
    public static $webservicePassword = 'enter_your_webservice_password';
    public static $productWebservicePassword = 'enter_your_product_webservice_password';
}