<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <p class="affilinet_footer_name">affilinet.</p>
                    <p class="affilinet_footer_slogan">
                        The art of
                        <br>
                        performance
                        <br>
                        marketing
                    </p>
                </div>
                <div class="footer-col col-md-4">
                   <h3>Location</h3>
                   <p>
                        affilinet GmbH <br>
                        {{ site.address_street }}  <br>
                        {{ site.address_city }} <br>
                        Germany <br>
                    </p>
                </div>
                <div class="footer-col col-md-4">
                  <h3>Follow Us</h3>
                  <ul class="list-inline">          
                     <li>
                        <a class="btn-social btn-outline" href="{{ site.twitter }}"><i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a class="btn-social btn-outline" href="{{ site.facebook }}"><i class="fa fa-fw fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a class="btn-social btn-outline" href="{{ site.github }}"><i class="fa fa-fw fa-github" aria-hidden="true"></i></a>
                    </li>           
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer-below">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                 Copyright &copy; affilinet 20{{ site.time | date: '%y' }}
            </div>
        </div>
    </div> 
</div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div> 