<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>affilinet {% if site.title %} {{ site.title }} {% else %} affilinet Developer Hub {% endif %} {% if page.title %} - {{ page.title }} {% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.meta_description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ site.remote_base_url }}/devhub.css">   
    <link rel="stylesheet" href="{{ 'assets/css/custom.css' | prepend:site.baseurl }}">

    <!-- Affilinet Font -->
    <link rel="stylesheet" href="{{ 'assets/fonts/NHaasGroteskTXW01-75Bd.css' | prepend:site.baseurl }}">

    <!-- Custom Fonts -->
    <script src="https://use.fontawesome.com/9381422712.js"></script>    
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- etracker tracklet 4.0 -->
    <script id="_etLoader" type="text/javascript" charset="UTF-8" data-secure-code="0YmF5E" src="//static.etracker.com/code/e.js"></script>
    <noscript><link rel="stylesheet" media="all" href="//www.etracker.de/cnt_css.php?et=0YmF5E&amp;v=4.0&amp;java=n&amp;et_easy=0&amp;et_pagename=&amp;et_areas=&amp;et_ilevel=0&amp;et_target=,0,0,0&amp;et_lpage=0&amp;et_trig=0&amp;et_se=0&amp;et_cust=0&amp;et_basket=&amp;et_url=&amp;et_tag=&amp;et_sub=&amp;et_organisation=&amp;et_demographic=" /></noscript>
    <!-- etracker tracklet 4.0 end -->
</head>

